extends layout

block content
  h1= title
  p Welcome to #{title}
  button#ml-button
  
  block scripts
    script(src='https://media-library.cloudinary.com/global/all.js')
    script(src='/javascripts/main.js')
  


